div label input {
   margin-right:100px;
}

#ck-button {
    margin:4px;
    border-radius:10px;
    border:1px solid #0971CE;
    overflow:auto;
    float:left;
}

#ck-button label {
    float:left;
    width:4.0em;
}

#ck-button label span {
    text-align:center;
    padding:18px 0px;
    display:block;
    color: #0971CE;
    font-size: 14px;
}

#ck-button label input {
    position:absolute;
    top:-20px;
}

#ck-button input:checked + span {
    background-color:#0971CE;
    color:#fff;
}