/*form styles*/
#msform {
	max-width: 1000px;
	min-height: 60vh;
	width: 90vw;
	margin: 0px auto;
	text-align: center;
	position: relative;
}
#msform fieldset {
	border: 0 none;
	border-radius: 3px;
	padding: 20px 30px;
	box-sizing: border-box;
	width: 80%;
	margin: 0 10%;
	
	/*stacking fieldsets above each other*/
	position: relative;
}
/*Hide all except first fieldset*/
#msform fieldset:not(:first-of-type) {
	display: none;
}
/*inputs*/
#msform input, #msform textarea {
	padding: 15px;
	border: 1px solid #ccc;
	border-radius: 3px;
	margin-bottom: 10px;
	width: 100%;
	box-sizing: border-box;
	color: #2C3E50;
	font-size: 13px;
}
/*buttons*/
#msform .action-button {
    background-color: #0071CE;
    width: 52vw;
    max-width: 250px;
    height: 50px;
    vertical-align: middle;
    margin-top: 20px;
    padding-top: 15px;
    flex-grow: 1;
	align-self: center;
	border-radius: 10px;
	color: white;
}